{% extends "logistic/base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
  <h1>Please Select Preferred Transport for Getting Estimated Price</h1>
  <p>
  {% if cargo_type %}
    Selected Cargo Type : {{ cargo_type.cargo_type_name }}
  {% else %}
    No Cargo Type Selected
  {% endif %}
  </p>

  <p>
  {% if transport_service %}
    Selected Transport Service : {{ transport_service.transport_service_name }}
  {% else %}
    No Transport Service Selected
  {% endif %}
  </p>

  <h2>Select Transport:</h2>
  {% if transport_list %}
    {% for transport in transport_list %}
      <div class="col-sm-4 col-lg-2">
        <div class="thumbnail">
          <a href="{% url 'logistic:get_price_step_3' cargo_type.id transport_service.id transport.id %}">
            <img src="{{ transport.image.url }}" class="img-responsive">
          </a>
          <div class="caption">
            <h4>{{ transport.transport_name }}</h4>
            <p>{{ transport.description }}</p>
            <a href="{% url 'logistic:get_price_step_3' cargo_type.id transport_service.id transport.id %}" class="btn btn-primary btn-sm" role="button">Select</a>
          </div>
        </div>
      </div>
      {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
    {% endfor %}
  {% else %}
    <div class="col-sm-12">
      <br>
      <h2>No Transport Service Available</h2>
    </div>
  {% endif %}
{% endblock %}
